 
/* ------------ navbar-end-here ------------ */
@media only screen and (max-width: 1440px){
    .resss{
        display: none;
    }
}
@media only screen and (max-width: 942px){
    .row .right-section .logo-com .star {
        font-size: .7rem;           
    }
    .row .right-section ol li a {
        font-size: .8rem;
    }
    .row .right-section .logo-com img {
        width: 50px;
        height: 50px;
    }
    .row .right-section .part-1 .header-part .rank-job .rank h5 {
        font-size: 1rem;
    }
    .row .right-section p {
        font-size: 1rem;
    }
    .row .right-section .part-1 .header-part .rank-job .job h5 {
        font-size: 1rem;
    }
    .row .left-section p {
        font-size: 1.5rem;
    }
    .row .left-section h4 {
        font-size: 1rem;
    } 
}


@media only screen and (max-width: 848px){

    .row .right-section .page-next .next ul {
        display: block;
    }
    .row .right-section .page-next .next ul li {
        padding: .6rem 0;
    }
    .row .left-section form input:checked {
        width: 18px !important;
        height: 18px !important;
    }
    .row .left-section form input[type="checkbox"] {
        width: 18px !important;
        height: 18px !important;
    }
    .row .left-section form label {
        font-size: 1rem;
    }
}
@media only screen and (max-width: 768px){
    element {
        padding: 0.2rem 0.2rem;
    }
    .row .right-section ol li a {
        font-size: .6rem;
    }
    .row .right-section .logo-com .star {
        font-size: .6rem;           
    }
    .logo-area img {
        width: 90px;
        padding: 12px 0;
        margin-top: 8px;
    }
    .menu-area ul li a {
        font-size: 15px;
        padding: 2px 8px;
    }
}



@media only screen and (max-width: 632px){
    .row {
        display: block;
 
    }
    .row .left-section {
        width: 95%;
        margin: 0 auto;
        display: flex;
    }
    .row .left-section .itemm {
        width: 106%;
        padding: 0;
    }
    .row .left-section form label {
        font-size: .6rem;
        padding: .3rem 0;
    }
    .row .left-section h4 {
        font-size: .8rem;
        text-align: left;
        margin-bottom: .6rem;
    }
    .row .left-section {
        display: flex;
        justify-content: center;
        align-items: top;
        text-align: center;
    }
 
    .row .left-section p {
        display: none;
    }
    .row .left-section {
        margin-top: -3rem;
    }
    .row .right-section {
        width: 90%;
        margin: 0 auto;
    }
    .row .right-section p {
        font-size: .6rem;
    }
  
    .row .right-section p {
        font-size: 1rem;
    }
    .row .right-section .page-next .page ul li a {
        font-size: .8rem;
    }
    .row .right-section .page-next .next ul li a {
        font-size: .8rem;
    }
    footer ul li a {
        font-size: .8rem;
    }
    .element {
        padding: 0;
        font-size: 13px;
        margin: .3rem 0;
    }
    .row .right-section .logo-com .star {
        font-size: .4rem;
    }
    .resss {
        display: block;
        text-align: center;
        font-size: 1.2rem;
        margin-top: 2rem;
    }
    .row .right-section {
        width: 103%;
    }
    .row .right-section p {
        margin-left: 0rem;
    }
    .row .right-section .com p {
        margin-left: 1rem;

    }
    .row .right-section .logo-com .star {
        margin-left: 1rem;
    }

}

@media only screen and (max-width: 462px){
    .row .right-section .part-1 .header-part {
        justify-content: space-around;
    }
    .row .right-section .logo-com .star {
        margin-left: 1rem;
    }
    .row .right-section .logo-com img {
        width: 35px;
        height: 35px;
    }
}
@media only screen and (max-width: 376px){
    .menu-area ul li a {
        font-size: 13px;
        padding: 2px 2px;
    }
    .logo-area img {
        width: 71px;
        padding: 11px 0;
        margin-top: 8px;
    }
    .logo-area {
        width: 29% !important;
    }
    .menu-area {
        width: 71% !important;
    }
}